*{
    font-family: Arial, Helvetica, sans-serif;
}
code{
    color: rgb(238, 107, 107);
    background-color: rgb(222, 240, 240); 
    font-family: "Fira Code", monospace;
    font-size: 16px;
}
.bg-sage{
    background-color: seagreen;
}
.text-red{
    color: maroon;
}

li{
    font-size: 18px;
    margin: 2px;
}
ol{
    margin: 2px;
}