*{
    font-family: Arial, Helvetica, sans-serif;
}
code{
    color: rgb(238, 107, 107);
    background-color: rgb(222, 240, 240); 
    font-family: "Fira Code", monospace;
}
.bg-sage{
    background-color: seagreen;
}
.text-red{
    color: maroon;
}
.code-color{
    
}
li{
    font-size: 20px;
}